*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: auto;
    text-align: center;
}

p{
    font-size: large;
}

#user_selection{
    margin-top: 30px;
    margin-bottom: 25px;
}

#user_selection p{
    margin-bottom: 33px;
    font-weight: bold;
    font-size: larger;
}

#game_result_div{
    height: 0px;
}

#game_outcome{
    visibility: hidden;
    font-size: x-large;
    font-weight: bold;
    height: 0px;
    margin: 0px;
}

#play_again{
    visibility: hidden;
    height: 0px;
    padding: 0px;
    width: 200px;
    border-radius: 20px;
}

button:hover{
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: medium;
}

button{
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: black;
    color: white;
    border-style: none;
}

#outcome{
    visibility: hidden;
}

i{
    font-style: normal;
}
